nav>ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
justify-content: center;
padding: 10px;
background-color: rgb(221, 143, 143);
}
nav>ul>li {
    padding: 10px;
    
}

nav>ul>li:hover {
    background-color: rgb(235, 150, 4);
}
nav>ul>li>a {
    text-decoration: none;
    color: white;
}
#active {
    background-color: rgb(45, 28, 151);
}
header {
    background-image: url(images/banner.webp);
    height: 300px;
    width: 1000px;
    margin: auto;

}
#headnggs {
     text-align: center;
    font-size: 40pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);

}
body {
    background-color: #d2d0b3;
}
p {
    font-size: 32;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-flex>div {
    margin: auto;
}
footer {text-align: center;
}
img {
    height: 500px;
    width: 500px;
    align-items: center;
    display: inline-block;
}
.imageblok{
    height: 250px;
    width: 250px;
    display: flex;
}
footer {
    background-color: aqua;
}